<div class="form__login" method="POST" action="#">
    <header>
        <p>logo</p>
    </header>
        <form action="">
             <div class="fields">                
                <div class="input">
                    <span class="material-icons">
                     alternate_email
                    </span>    

                    <input type="email" name="txtEmail" id="" placeholder="Digite o seu E-mail">
                </div>
            </div>
            <div class="fields">
               <div class="input">
                    <span class="material-icons">
                        lock
                    </span>
                <input type="password" name="txtSenha" id="" placeholder="Digite a sua Senha">
               </div>
            </div>

            <div class="button">   
                <img src="https://img.icons8.com/color/48/000000/facebook.png"/>                         
                <button type="submit">Entre com o Facebook</button>
            </div>                       
        </form>
</div>       