<!DOCTYPE html>
<html>
    <head>
        <title>Client-List</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <div class="logo">
                
            </div>
        </header>
            <div class="wrapper">
                <div class="img__background">

                </div>

                <div class="form__login">
                    <header>
                        <p>logo</p>
                    </header>
                    <form action="">
                        <div class="fields">
                            <label for="">Email</label>
                            <input type="email" name="txtEmail" id="">
                        </div>
                        <div class="fields">
                            <label for="">Senha</label>
                            <input type="password" name="txtSenha" id="">
                        </div>

                        <div class="button">                            
                            <button type="submit">Entrar</button>
                        </div>
                       
                    </form>
                </div>                                
            </div>
        <footer>
                
        </footer>
    </body>
</html>